$main-color: #81c784;

$gray-border: #A9A9A9;

$gray-reader: #3a3a3a;

$gray-title: #2e2e2e;

$white-real: #fff;

$black-real: #000;


//Material Design Pallete

$white-material-design: #eee;

$black-material-design: #212121;