@font-face{
    src: url("../_fonts/_roboto/Roboto-Regular.ttf");
    font-family: "Roboto-Regular";
}

@font-face{
    src: url("../_fonts/_roboto/Roboto-Bold.ttf");
    font-family: "Roboto-Regular";
    font-weight: bold;
}